:root {
  --bg-color: #010808;
  --text-color: #16f9f0;
  --text-color2: #ffffff;
  --bg-color3: #585858;
  --bg-color4: #979797;
}
.text-white{
  color: white;
  text-decoration: none;
}
* {
  background-color: var(--bg-color);
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;

}

.App {
  width: 80%;
  margin: 0 10%;
}

@import "./Welcome.scss";
@import "./Projects.scss";
@import "./CV.scss";
@import "./Skills.scss";
@import "./Contact.scss";
