.contact-section {
  height: 300px;
  h1 {
    text-align: center;
    margin: 80px 0;
  }

  .left-info {
    margin-right: 55%;
    background-color: var(--text-color);
    border-radius: 10px / 30px;
    text-align: center;
    &:hover {
      transform: scale(1.05);
      transition: all ease-in-out 0.5s;
    }
    a {
      background-color: var(--text-color);
      color: var(--bg-color);
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .right-info {
    margin-left: 55%;
    background-color: var(--text-color);
    border-radius: 10px / 30px;
    text-align: center;
    &:hover {
      transform: scale(1.05);
      transition: all ease-in-out 0.5s;
    }
    a {
      background-color: var(--text-color);
      color: var(--bg-color);
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1000px) {
  .contact-section {
    .left-info {
      margin-right: 0;
    }
    .right-info {
      margin-left: 0;
    }
  }
}
