.contact-section {
  color: white;
  width: 40%;
  margin: 30%;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  Button {
    color: white;
    font-size: 22px;
  }
}
.info {
  color: white;
  margin-left: 180px;
}
